			 /*Avenir*/
			 /*change margins to auto and adjust width, add padding*/
			
 @font-face {
    font-family: 'reckonerregular';
    src: url('reckoner-webfont.woff2') format('woff2'),
         url('reckoner-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

            h1 {
                font-family: Reckoner, Avenir;
                color: white;
                background-color: dimgray;
				border-style: ridge;
                border-color: white;
				border-radius: 0px;
                text-align: center;
				margin: auto;
				width: 500px;
				
            }


            #homeBody {
                background-image: url(StarBackground.jpg);
                background-size: auto;
				
				
            }

            body {
            
                margin: 0;
				
            }

             #homeBody {
                background-image: url(StarBackground.jpg);
                background-size: auto;
				
				
            }

            p {
                color:white;
                padding: 15px;
                background-color: dimgray;
                border-style: ridge;
                border-color: white;
                text-align: center;
                font-family: Avenir;
				border-radius: 0px;
				margin: auto ;
				width: 90%;
            }
        
			.topnav {
				overflow: hidden;
                background-image: url(StarBackground.jpg);	
			}

			.topnav a {
				float: left;
				display: block;
				color: white;
				text-align: center;
				padding: 20px 20px 40px 40px;
				text-decoration: none;
				font-family: Reckoner, Avenir;
				font-size: 60px;
                height: 100px;
                line-height: 160px;
				
			}


            #navbarLogo:hover {
                content: url(Astral%20-%202%20darkgray%20copy.png);
                height: 140px;
            }

			.topnav a:hover {
				color: darkgray;
			}

			.topnav a.active {
				background-color: dimgray;
				color: black;
			}

            img {
                display: block;
                margin: auto;
                    
            }
            
            