			 /*Avenir*/
			 /*change margins to auto and adjust width, add padding*/
			
 @font-face {
    font-family: 'reckonerregular';
    src: url('reckoner-webfont.woff2') format('woff2'),
         url('reckoner-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

            h1 {
                font-family: Reckoner;
                color: white;
                background-color: dimgray;
				border-style: double;
                border-color: white;
				border-radius: 12px;
                text-align: center;
				margin: auto;
				width: 500px;
				
            }
            body {
                background-image: url(StarBackground.jpg);
                background-size: auto
				margin: 25px;
				
            }
            p {
                color:white;
                padding: 15px;
                background-color: dimgray;
                border-style: double;
                border-color: white;
                text-align: center;
                font-family: Avenir;
				border-radius: 12px;
				margin: auto ;
				width: 90%;
            }
        
			.topnav {
				overflow: hidden;
				background-color: dimgray;
				border-style: double;
                border-color: white;
				border-radius: 12px;
				width: 90%;
				margin: auto
			}

			.topnav a {
				float: left;
				display: block;
				color: white;
				text-align: center;
				padding: 20px 20px;
				text-decoration: none;
				font-family: Reckoner;
				font-size: 30px;
				
			}


            .card{
                
                background: url(Astral%20-%202%20B&W.png) no-repeat;
                width: 40px;
            }

            .card:hover{
                
                background: url(Astral%20-%202%20Black%20copy.png) no-repeat;
                width: 40px;
            }


			.topnav a:hover {
				background-color: dimgray;
				color: black;
			}

			.topnav a.active {
				background-color: dimgray;
				color: black;
			}
            img {
                display: block;
                margin: auto;
                    
            }
            .list{
				margin:auto;
				width: 1000px;
            }
            